<!-- About start -->

  <section id="about" class="module">

    <div class="container">

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="module-header wow fadeInUp">
            <h2 class="module-title">About</h2>
            <h3 class="module-subtitle">The Church<span class="point">.</span></h3>
          </div>
        </div>
      </div><!-- .row -->

    </div><!-- .container -->

    <div class="container-fluid">

      <div class="row mb-60">

        <div class="col-sm-4 no-padding">
          <div class="team-item">
            <div class="team-item-image">
              <img src="assets/grace_page/queens_community.png" alt="">
              <div class="team-item-detail">
                <h3 class="team-item-name">Queens</h3>
                <span class="team-item-role">Community Group</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 no-padding">
          <div class="team-item">
            <div class="team-item-image">
              <img src="assets/grace_page/church_service.png" alt="">
              <div class="team-item-detail">
                <h3 class="team-item-name">Sunday Mornings</h3>
                <span class="team-item-role">10:30am</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 no-padding">
          <div class="team-item">
            <div class="team-item-image">
              <img src="assets/grace_page/li_community.png" alt="">
              <div class="team-item-detail">
                <h3 class="team-item-name">Long Island</h3>
                <span class="team-item-role">Community Group</span>
              </div>
            </div>
          </div>
        </div>

      </div><!-- .row -->

    </div><!-- .container-fluid -->

    <div class="container">

      <div class="row mb-30">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          We believe that God has divinely placed us here to be a new voice
          in East Queens for His redemptive story.
          <div class="row mb-30">
          We look forward having you, your family and friends this Sunday!
          </div>
        </div>
      </div><!-- .row -->

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center page-scroll">
          <a href="https://www.google.com/maps/place/Anibic/@40.7477639,-73.7593287,17z/data=!3m1!4b1!4m5!3m4!1s0x89c261f18686757d:0x85197cef06cfa2d9!8m2!3d40.7477639!4d-73.75714" class="btn btn-custom-1" target= 'blank' >Directions to Community of Grace East Queens</a>
        </div>
      </div><!-- .row -->
</br>
</br>
        <div class="row mb-30">
      <div class="col-sm-8 col-sm-offset-2 no-padding">
      <img src="assets/grace_page/easter_main.png" alt="">
      </div>
      </div>

    </div><!-- .container -->
  </section>

  <!-- About end -->
