<!-- Home start -->

  <section id="home" class="intro-module module-image heightfull">

    <div class="intro">
     </div>
    <div class="mouse-icon">
      <div class="wheel"></div>
    </div>

  </section>

  <!-- Home end -->