<!-- Contact-info start -->
  <section id="contact" class="module-small module-gray">
    <div class="container">

      <div class="row">

        <div class="col-sm-4 contact-block">
          <span>e-mail:</span> justin@gracenyc.org
        </div>

        <div class="col-sm-4 contact-block">
          <span>Location:</span> 61-35 220th Street Oakland Gardens
        </div>

        <div class="col-sm-4 contact-block">
          <span>phone:</span> (516) 314-7650
        </div>

      </div><!-- .row -->

    </div><!-- .container -->
  </section>

  <!-- Contact-info end -->


<!-- Map start -->

  <section >
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6482946228184!2d-73.75932868459392!3d40.74776387932807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c261f18686757d%3A0x85197cef06cfa2d9!2sAnibic!5e0!3m2!1sen!2sus!4v1492026606738" width=100% height=300 frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>

  <!-- Map end -->