  <!-- News start -->

  <section id="news" class="module pb-0">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="module-header wow fadeInUp">
            <h2 class="module-title">Sermon Series</h2>
            <h3 class="module-subtitle">Latest Sermon Series<span class="point">.</span></h3>
          </div>
        </div>
      </div><!-- .row -->

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2 no-padding">
          <article class="hentry-item">
            <a href="#">
              <div class="hentry-thumbnail">
                <img src="assets/grace_page/acts.png" alt="">
              </div>
              <div class="hentry-item-detail">
                <h2 class="hentry-title">Carring the Mission of Jesus</h2>
              </div>
            </a>
          </article>
        </div>

      </div><!-- .row -->

    </div><!-- .container -->
  </section>
