<!--Services start -->

  <section id="services" class="module module-gray">
    <div class="container">

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="module-header wow fadeInUp">
            <h2 class="module-title">Core Values</h2>
            <h3 class="module-subtitle">What we do with love<span class="point">.</span></h3>
          </div>
        </div>
      </div><!-- .row -->

      <div class="row">

        <div class="col-sm-6">
          <div class="iconbox equal-height">
            <div class="iconbox-icon"><span class=" icon-size-actual"></span></div>
            <div class="iconbox-text">
              <h3 class="iconbox-title">JESUS AS THE CENTER</h3>
              <div class="iconbox-desc">
               We believe that Jesus is the gracious savior and king of the earth. Therefore, our lives are lived best in his loving service.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="iconbox equal-height">
            <div class="iconbox-icon"><span class=" icon-support"></span></div>
            <div class="iconbox-text">
              <h3 class="iconbox-title">VALUE THE JOURNEY</h3>
              <div class="iconbox-desc">
                We believe in the tension of personal growth realizing that we are all broken people changing at the pace of the Holy Spirit.
              </div>
            </div>
          </div>
        </div>

      </div><!-- .row -->

      <div class="row">

        <div class="col-sm-6">
          <div class="iconbox equal-height">
            <div class="iconbox-icon"><span class="icon-users"></span></div>
            <div class="iconbox-text">
              <h3 class="iconbox-title">LIVE IN COMMUNITY</h3>
              <div class="iconbox-desc">
                We believe in the power of biblical togetherness; knowing and being known so that we can love, serve, and challenge each other in the truth of the Gospel.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="iconbox equal-height">
            <div class="iconbox-icon"><span class="icon-heart"></span></div>
            <div class="iconbox-text">
              <h3 class="iconbox-title">LOVE YOUR NEIGHBOR</h3>
              <div class="iconbox-desc">
                We believe the Holy Spirit leads us to lay down our lives for the people who cross our paths on a daily basis.
              </div>
            </div>
          </div>
        </div>

      </div><!-- .row -->

      <div class="row">
      <div class="col-sm-12 text-center">
      Read Grace’s <a href="http://www.gracenyc.org/beliefs/" target= 'blank'>Statement of Faith.</a>
      </div>
      </div>


    </div><!-- .container -->
  </section>

  <!-- Services end -->