<!-- Testimonials start -->

  <section id="testimonials" class="module module-gray">
    <div class="container">

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="module-header wow fadeInUp">
            <h2 class="module-title">Testimonials</h2>
            <h3 class="module-subtitle">People say<span class="point">.</span></h3>
          </div>
        </div>
      </div><!-- .row -->

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="single-carousel text-center">

            <!-- Slide 1 -->
            <div class="owl-item">
              <blockquote class="testimonials">
                Hello. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur. Thanks!
              </blockquote>
              <div class="testimonial-author">Jack Woods, Somecompany inc.</div>
            </div>

            <!-- Slide 1 -->
            <div class="owl-item">
              <blockquote class="testimonials">
                Hello. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur. Thanks!
              </blockquote>
              <div class="testimonial-author">Jack Woods, Somecompany inc.</div>
            </div>

            <!-- Slide 1 -->
            <div class="owl-item">
              <blockquote class="testimonials">
                Hello. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur. Thanks!
              </blockquote>
              <div class="testimonial-author">Jack Woods, Somecompany inc.</div>
            </div>

          </div><!-- .single-carousel -->
        </div><!-- .col-sm -->
      </div><!-- .row -->

    </div><!-- .container -->
  </section>

  <!-- Testimonials end -->
