<!-- Portfolio start -->

  <section id="portfolio" class="module pb-0">
    <div class="container">

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="module-header wow fadeInUp">
            <h2 class="module-title">Gallery</h2>
            <h3 class="module-subtitle">What we have done<span class="point">.</span></h3>
          </div>
        </div>
      </div><!-- .row -->

  <div class="row">
      <iframe src="https://player.vimeo.com/video/207233999" width="640" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div><!-- .row -->


      <!-- Portfolio Filter start-->

      <div class="row">
        <div class="col-sm-12 text-center">
          <ul id="filter" class="filters-group">
            <li class="active" data-group="all">All</li>
            </ul>
        </div>
      </div><!-- .row -->

      <!-- Portfolio Filter end -->

    </div><!-- .container -->

    <div class="grid">

      <div class="grid-item" data-groups="all slideshow image">
        <a href="assets/grace_page/church.png" class="gallery" title="Caption">
          <div class="image-wrapper">
            <img src="assets/grace_page/church.png" alt="">
            <div class="item-caption">
              <h2 class="caption-title">Community</h2>
              <div class="caption-category">Thanksgiving</div>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-item" data-groups="all image video">
        <a href="assets/grace_page/queens_group.png" class="gallery" title="Caption">
          <div class="image-wrapper">
            <img src="assets/grace_page/queens_group.png" alt="">
            <div class="item-caption">
              <h2 class="caption-title">Queens</h2>
              <div class="caption-category">Community Group</div>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-item" data-groups="all video slideshow">
        <a href="assets/grace_page/bbq.png" class="gallery" title="Caption">
          <div class="image-wrapper">
            <img src="assets/grace_page/bbq.png" alt="">
            <div class="item-caption">
              <h2 class="caption-title">BBQ</h2>
              <div class="caption-category">Church at the Park</div>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-item" data-groups="all slideshow">
        <a href="assets/grace_page/food.png" class="gallery" title="Caption">
          <div class="image-wrapper">
            <img src="assets/grace_page/food.png" alt="">
            <div class="item-caption">
              <h2 class="caption-title">Thanksgivng </h2>
              <div class="caption-category">Meal</div>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-item" data-groups="all image">
        <a href="assets/grace_page/li_group.png" class="gallery" title="Caption">
          <div class="image-wrapper">
            <img src="assets/grace_page/li_group.png" alt="">
            <div class="item-caption">
              <h2 class="caption-title">Long Island</h2>
              <div class="caption-category">Community Group</div>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-item" data-groups="all video">
        <a href="assets/grace_page/worship.png" class="gallery" title="Caption">
          <div class="image-wrapper">
            <img src="assets/grace_page/worship.png" alt="">
            <div class="item-caption">
              <h2 class="caption-title">Sunday Morning</h2>
              <div class="caption-category">Worship</div>
            </div>
          </div>
        </a>
      </div>

    </div><!-- .projects-container -->

  </section>

  <!-- Portfolio end -->