<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Grace East Queens</title>

  <!-- CSS -->
  <!-- Bootstrap core CSS -->
  <link href="assets/grace_page/bootstrap.min.css" rel="stylesheet" media="screen">

  <!-- Font Awesome CSS -->
  <link href="assets/grace_page/font-awesome.min.css" rel="stylesheet" media="screen">

  <!-- Elegant icons CSS -->
  <link href="assets/grace_page/simple-line-icons.css" rel="stylesheet" media="screen">



  <!-- Magnific-popup lightbox -->
  <link href="assets/grace_page/magnific-popup.css" rel="stylesheet">

  <!-- Owl Carousel -->
  <link href="assets/grace_page//owl.theme.css" rel="stylesheet">
  <link href="assets/grace_page/owl.carousel.css" rel="stylesheet">



  <!-- Animate css -->
  <link href="assets/grace_page/animate.css" rel="stylesheet">

  <!-- Main CSS -->
  <link href="assets/grace_page/style.css" rel="stylesheet" media="screen">


  <!-- Javascript files -->
  <script src="assets/grace_page/jquery-1.11.1.min.js"></script>
  <script src="assets/grace_page/bootstrap.min.js"></script>

  <!-- Use for slideshow background -->
  <script src="assets/grace_page/jquery.backstretch.min.js"></script>

  <!-- Form Validation -->
  <script src="assets/grace_page/jqBootstrapValidation.js"></script>


 


  <!-- Other -->
  <script src="assets/grace_page/jquery.matchHeight-min.js"></script>
  <script src="assets/grace_page/jquery.magnific-popup.min.js"></script>
  <script src="assets/grace_page/owl.carousel.min.js"></script>
  <script src="assets/grace_page/jquery.fitvids.js"></script>
  <script src="assets/grace_page/smoothscroll.js"></script>
  <script src="assets/grace_page/wow.min.js"></script>



      <!-- Portfolio -->
    <script src="assets/grace_page/jquery.shuffle.min.js"></script>
  <script src="assets/grace_page/imagesloaded.pkgd.js"></script>

    <!-- Custom scripts -->
  <script src="assets/grace_page/custom.js"></script>
  <script src="assets/grace_page/custom-shuffle-init.js"></script>


  <!--[if lte IE 7]>
    <script src="assets/js/icons-lte-ie7.js"></script>
  <![endif]-->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
      </head>

  <body>
    <%= yield %>
  </body>
</html>
